.title {
    width: 280px;
    height: 50px;
    @include flex(center);
    border-bottom: 3px solid grey;
    z-index: 2;
    text-transform: uppercase;
}

.Box {
    @include relative(500px, 350px);
    border-radius: 40px;
    overflow: hidden;
    .img {
        @include absolute(100%, 100%);
        img {
            @include absolute(100%, 100%);
            transition: .5s;
        }
    }
    .img-title {
        @include absolute(100%, 50px);
        @include flex(center);
        bottom: -50px;
        left: 0;
        text-transform: uppercase;
        transition: .5s;
    }
}

.Box:hover .img img {
    opacity: .5;
}

.Box:hover .img-title {
    bottom: 0px;
}