* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bree serif", sans-serif;
    scroll-behavior: smooth;
}

$blue: #0f64f6;
$info: #3f8ffc;
$drak: #000000;
$white:#ffffff;
$dongker:#013e6b;
$blue-dark:#12222d;
$blue-dark-2:#162c3b;
$h1: 60px;
$h2: 40px;
$h3: 30px;
$h4: 24px;
$h5: 22px;
$h6:20px;
$p: 18px;
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-size: $h1;
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}

h4 {
    font-size: $h4;
}

h5 {
    font-size: $h5;
}

h6 {
    font-size: $h6;
}

p {
    font-size: $p;
}

.text-blue {
    color: $blue;
}

.text-dark {
    color: $drak;
}

.text-white {
    color: $white;
}

.text-dongker {
    color: $dongker;
}

.bg-blue {
    background: $blue;
}

.bg-info {
    background: $info;
}

.bg-dark {
    background: $drak;
}

.bg-dongker {
    background: $dongker;
}

.bg-white {
    background: $white;
}

.bg-blue-dark {
    background: $blue-dark;
}

.bg-blue-dark-2 {
    background: $blue-dark-2;
}

.f-warp {
    flex-wrap: wrap;
}

.fas {
    background: $white;
}

.index {
    z-index: 99;
}